/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('reset.css');

@font-face {
				font-family: 'MyriadPro';
				src: url("../fonts/MyriadPro.eot") format("eot"),
					 url("../fonts/MyriadPro.woff") format("woff"),
					 url("../fonts/MyriadPro.ttf") format("truetype");
				font-style: normal;
				font-weight: normal;			
			}
@font-face {
				font-family: 'MyriadProRegular';
				src: url("../fonts/MyriadProRegular.eot") format("eot"),
				     url("../fonts/MyriadProRegular.woff") format("woff"),
				     url("../fonts/MyriadProRegular.ttf") format("truetype");
				font-style: normal;
				font-weight: normal;			
			}  
@font-face {
				font-family: 'MyriadProBold';
				src: url("../fonts/MyriadProBold.eot") format("eot"),
					 url("../fonts/MyriadProBold.woff") format("woff"),
					 url("../fonts/MyriadProBold.ttf") format("truetype");
				font-style: normal;
				font-weight: normal;			
			}
@font-face {
				font-family: 'MyriadProSemiBold';
				src: url("../fonts/MyriadProSemiBold.eot") format("eot"),
					 url("../fonts/MyriadProSemiBold.woff") format("woff"),
					 url("../fonts/MyriadProSemiBold.ttf") format("truetype");
				font-style: normal;
				font-weight: normal;			
			}
@font-face {
				font-family: 'MyriadProItalic';
				src: url("../fonts/MyriadProItalic.eot") format("eot"),
					 url("../fonts/MyriadProItalic.woff") format("woff"),
					 url("../fonts/MyriadProItalic.ttf") format("truetype");
				font-style: normal;
				font-weight: normal;			
			}